# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/contentModel.xml
/projectSettingsUpdater.xml
/.idea.Cake Racer.iml
/modules.xml
# Datasource local storage ignored files
/../../../../../../../../:\thomas\Documents\Projects\Cake Racer\.idea\.idea.Cake Racer\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
